  <h1>编辑文章</h1>
  <%= form_for :article, url: article_path(@article), method: :patch do |f| %>
    <% if @article.errors.any? %>
    <div id="errors_explanation">
      <h2>错误信息</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <p>
      <%= f.label :标题 %><br>
      <%= f.text_field :title%>
    </p>

    <p>
      <%= f.label :内容 %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit '确 定'%>
    </p>
  <% end %>

  <%= link_to '返 回', articles_path%>
